#first {
	border: 2px solid red ;
	border-radius: 1px ;
}
#firstpic1 {
  width: auto; ;
	height: 600px ;
}
body {
	background-color: rgb(227, 227, 228) ;
	text-decoration: none;
}
#text {
		border: 2px solid red ;
	border-radius: 1px ;
}

#photo {
	  width: 300px ;
	height: 300px ;

}
#table1 {
	
	height: 600px;
	width: 600px;
	margin :25px 100px 25px 100px; 
	background-color: black ;
}
table:hover {
	background-color: yellow ;
}
#tr1{
	border-bottom : solid red
}
#tab2 {
	border: 20px solid red ;
	padding: 50px; 
}
#quote {
	text-decoration: none;
	padding-left: 200px ;
	text-shadow: 3px 2px yellow ;
	font-size: 30px ;
	font-color: tomato ;
}
a{
	text-decoration: none;
}